{% extends "../base.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/static/stylesheets/profile/edit.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/static/stylesheets/utils/form.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/static/stylesheets/profile/tabs.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/static/stylesheets/profile/profile.css" />
	<script type="text/javascript" src="/static/scripts/jquery/jquery.magicpreview.pack.js"></script> 
	<script type="text/javascript" src="/static/scripts/jquery/jquery.jsupload.0.1.min.js"></script> 
	<script type="text/javascript"> profile_path = '/profile/{{user.profile_path}}'; photo_keys = {{ photo_keys }}; </script>
	<script type="text/javascript" src="/static/scripts/jquery/jquery.MultiFile.pack.js"></script> 
	<script type="text/javascript" src="/static/scripts/profile/edit_profile.js"></script>
{% endblock %}


{% block main %}




<div class="edit_profile_wrapper frame_box">

<div class="edit_profile">


<h2>{{ edit_type }} Your Profile</h2>



        <form action="#" class="signup" name="signup" enctype="multipart/form-data" onSubmit="return false;" method="get">
        
<fieldset><legend>Basic Info</legend> <br/>

<ul id="1">
<li> <label for="fullname">Full Name</label> <input class="signup fullname" type="text" name="fullname" maxlength="15" value="{{ user.fullname }}" id="fullname"   /> </li>
<li> <label for="email">Email</label> <input class="signup email" type="text" name="email" value="{{ user.email|default_if_none:"" }}" maxlength="25" id="email"   /> </li>
<li> <label for="student">Student</label> <input class="signup student" type="checkbox" name="student" {% if user.student %}checked{% endif %} maxlength="25" id="student"   /> </li>
<li> <label for="sponsor">Sponsor</label> <input class="signup sponsor" type="checkbox" name="sponsor" {% if user.sponsor %}checked{% endif %} maxlength="25" id="sponsor"   /> </li>

</ul>




</fieldset>

<fieldset><legend>Personal Details</legend> <br/>
<ul id="2" > 
<li> <label for="location">Location</label> <input class="signup occupation" type="text" name="location" maxlength="25" value="{{ user.location|default_if_none:"" }}" id="location"   /> </li>
<li> <label for="webpage">Webpage</label> <input class="signup occupation" type="text" name="webpage" maxlength="25" value="{{ user.webpage|default_if_none:"" }} " id="webpage"   /> </li>
<li> <label for="work_status">Work Status</label>
  <select name="work_status">
  <option {% ifequal user.work_status "Full-Time" %}selected{% endifequal %}>Full-Time</option>
  <option {% ifequal user.work_status "Part-Time" %}selected{% endifequal %}>Part-Time</option>
  <option {% ifequal user.work_status "Student" %}selected{% endifequal %}>Student</option>
</select>
  </li>
  <li> <label class="aboutme" for="aboutme">About Me</label> <textarea class="signup aboutme"   cols="15" rows="2" type="textarea" name="aboutme" maxlength="80" id="aboutme">{{ user.aboutme|default_if_none:"" }}</textarea> </li>

</ul>
</fieldset>
   </form>
  



</div>
</div>

<div class="preview_profile_wrapper">
<div class="preview_profile">


<div class="profile_outer">
	
		<div class="profile">
          
           <div class="change_picture"> {# This div should not contain the preview and submit buttons!! #}
       <form action="/profile/{{user.profile_path}}" class="picture" name="picture" onSubmit="return false;" enctype="multipart/form-data" method="get"> 
       <div class="panel_box pic_box" id="cycle_img" >Cycle Pictures</div> 
       <div id="change_img" >Upload Picture</div>
         <div class="cancel"><a onClick="CancelPhotoUpload()">Cancel</a></div>  </div>
		<div id="photo" class="edit_photo"><img class="old" src='/image/profile/?img_id={{ user.photo.key }}&size=large'/></div>
		<div id="basics" class="edit_basics">
		<div id="p_fullname"></div>
		<div id="profession"></div>
		</div>
		
            <div id="summary" class="profile-panel">

                <div class="edit_content big_panel" >
        
				<!--<div id="img_select"><img src="images/1.jpg" alt="hello" /></div>
				<p>Photo <span id="p_select">1</span> chosen</p> -->
				
			<ul>
				<li><strong>Email:</strong> <span id="p_email"></span></li>	
				<li><strong>Location:</strong> <span id="p_location"></span></li>	
			<li><strong>Webpage:</strong> <span id="p_webpage"></span></li>		
				<li><strong>Work Status:</strong> <span id="p_work_status"></span></li>
	<li><strong>About Me:</strong><span id="p_aboutme"></span></li> 
</ul>
      
               
                </div>
                
                
            
            
            </div><!-- end summary -->
  
   <div class="cancel_edit"><span>or Cancel</span> <div class="form_cancel" id='cancil_profile'><img src="/static/stylesheets/img/utils/cancel.png"></div></div>          
       
       
  

   <div id="submit_profile" class="form_proceed">
  <button onSubmit="return false;" onClick="return false;"><img src="/static/stylesheets/img/utils/purple_next.png"/><span class="continue_button" >Save Changes</span></button>
  </div>

            


</div>  <!-- profile --> 





 </div> 

</div>
</div>
{% endblock %}
