{% extends "../base.html" %}
{% block head %}


		<script src="/static/scripts/jquery/jquery.ui.js"></script>
		<link rel="stylesheet" href="/static/stylesheets/ui/app_screen.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/tabs.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/profile.css" type="text/css" media="screen">
		
		<script src="/static/scripts/profile/profile.js"></script>
		<script src="/static/scripts/profile/tagcloud.js"></script>
		
		<script type="text/javascript">	

	</script>
	
	

{% endblock %}


{% block main %}






	
	
	<!-- TABS -->
	
	
	
		<div class="profile">
		
	
		
		
		
		<div id="profile_photo"><img src='/static/stylesheets/img/profile/greenfuel.png'/></div>
	<!--	<div id="basics">
		<div id="name">James Levy </div>
		<div id="profession">Software Designer</div>
		</div> -->
		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Summary</a></li>
                <li class="ui-tabs-nav-item"><a href="#full_profile">Full Profile</a></li>
            </ul>
            <div id="summary" class="profile-panel">

                <div class="panel_content summary">
             <div class="employer_summary frame_box">
             GreenFuel Technologies Corporation (GFT) is a startup that has developed a process of growing algae using emissions from fossil fuel combustion and solar panels, mainly to produce biofuel from algae.

It is based in Cambridge, Massachusetts.      <a>Read More...</a>
             
             </div>
                </div>
 
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:82&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:66&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            
            
            
            </div><!-- end summary -->
            
            
            <div id="full_profile" class="profile-panel" >
        

                <div class="panel_content" >
                
             <h2>Skill Cloud</h2>
                
              <div class="dynacloud" id="dynacloud">  Intelligence  Diversification  Diversification  Diversification  Hydroelectric  Hydroelectric  Nuclear  Nuclear  Off-Grid  Nuclear  Photovoltaic   Photovoltaic  Photovoltaic  Photovoltaic  Pigovian  Peak Oil  Peak Oil  Peak Oil  Peak Oil  Geothermal 
                 Geothermal  Geothermal  Tidal  Tidal  Tidal  Credit  Grid  Grid   Grid  Grid  Grid  Grid  Credit  Credit  Credit  Credit  Server  Server  Cloud  Cloud  Cloud  Cloud  Bioenergy  Bioenergy  Bioenergy  Bioenergy</div>
                </div>
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:82&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:66&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            

            </div>



    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item"><a href="#quote">Quote</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		 Status: <div>Hiring</div> <br/>
		
		Location: <div>Cambridge, MA</div> <br/>
		
		Investors: <div>Draper Fisher Jurvetson</div> <br/>
		
		Webpage: <div><a>http://greenfuelonline.com</a></div> <br/>
		 </div> </div> 
		
		
		<div class="personal_content" id="quote">
		<div class="quote_content">
		"If I had 20 days to solve a problem, I would take 19 days to define it." 
		<br/><br/>
		-- Albert Einstein
		 </div> 
		 
		 
		</div>
		
				<div class="personal_content" id="network">
		<div class="network_content">
		<div class="info_content following">  
		Following: 
		
		<div>
		<li>Greenfuel Technologies</li>
		<li>Brightsource</li>
		<li>Sopogy</li>
		</div>

		 </div>
		 
		
		
		 </div> 
		 
		 
		</div>
		
        </div> <!-- personal_nav -->




{% endblock %}
