{% extends "../base.html" %}
{% block head %}

<style type="text/css"> 
{% include "../../static/stylesheets/ui/app_screen.css" %} 
{% include "../../static/stylesheets/profile/tabs.css" %} 
{% include "../../static/stylesheets/profile/edit_subjects.css" %} 
{% include "../../static/stylesheets/utils/form.css" %}
{% include "../../static/stylesheets/utils/subjects.css" %}
</style> 

 <script type="text/javascript"> profile_path = '/profile/{{user.profile_path}}'; this_user = "{{user.unique_identifier}}" </script>
 

<script type="text/javascript"> {{ subjects_js }}</script>
 
{% endblock %}


{% block main %}




<div class="frame_box" id="edit_subjects">



	<h2> My Subjects</h2>
	<div id="quiz_subjects" style="background: #EDF2F8; width:800px; border: 3px solid #E0E0E0; height:80px; float:left; padding: 0 10px; margin:8px -15px;">
		<div id="subject_thumb_container"  style="margin: 6px -10px;">
		{% for p in subjects %} 

		{% include "utils/subject_thumb.html" %}

		{% endfor %}		

		</div>
	</div>


<div id="subject_frame_container">
	{% for p in subjects %} 

	 <div class="subject"  style="display:none;" id="{{ p.tag }}">
		<div id="subject_{{ p.tag }}" class="proficiency_pic selection_box subject_frame">
				{% include "utils/subject_frame.html" %}
				</div>
				
				<div class="loading" style="display:none"> LOADING... </div>
			
			<div class="upload_picture" id="{{ p.name }}"><button id="button_{{ p.name }}">Upload a Picture</button></div>

 <div class="blurb">
	<div class="header note">{{ p.name }}</div>
	<div class="blurb_text" >{{ p.blurb|escape }}</div>
	<textarea style="display:none;" wrap=SOFT maxlength="450" cols="15" rows="16" name="description_{{ forloop.counter }}" id="description_{{ forloop.counter }}"></textarea>
	<div class="limit" style="display:none" id="limit_{{ forloop.counter }}"></div>

	<div class="footer" >
		<button class="edit"><img src="/static/stylesheets/img/utils/purple_next_tiny.png" />Edit Description</button>
		<button class="save" id="{{ p.name }}" style="display:none;"><img src="/static/stylesheets/img/utils/purple_next_tiny.png" />Save Changes</button>
		 </div>
	</div> {# endblurb #}

			</div>
	
	{% endfor %}

</div>



	</div>




       
  <div id="submit_form">

   <div id="submit">
  <button onSubmit="return false;" onClick="return false;"><img width=50 height=51 src="/static/stylesheets/img/utils/purple_next.png"/><span class="continue_button" >Save Changes</span></button>
  </div>

   <div id="cancel"><span>or Cancel</span> <div id='sponsor_form_cancel'><img src="/static/stylesheets/img/utils/cancel.png"></div></div>          
       <div class="form_error warning_note" id="sponsor_form_error">
     There was an error sending this form.<div style="height:7px;"></div>If refreshing the page doesn't work,<div style="height:1px;"></div> <a id="contact">contact us</a>. 
     </div>
</div>
{% endblock %}
