{% extends "../base.html" %}
{% block head %}

<style type="text/css"> 
{% include "../../static/stylesheets/ui/app_screen.css" %} 
{% include "../../static/stylesheets/ui/tabs.css" %} 
{% include "../../static/stylesheets/profile/edit_subjects.css" %} 
{% include "../../static/stylesheets/utils/form.css" %}
{% include "../../static/stylesheets/utils/subjects.css" %}
</style> 

 <script type="text/javascript"> profile_path = '/profile/{{user_session.profile_path}}'; this_user = "{{user_session.unique_identifier}}" </script>
 

<script type="text/javascript"> {{ subjects_js }}</script>
 
{% endblock %}


{% block main %}




<div class="frame_box" id="edit_subjects">


<div class="frame_header">
<h2>Quiz Subjects</h2>
<span>>></span>
<h2 id="subject_selection"></h2>
</div>


	<div id="quiz_subjects" style="background: #EDF2F8; width:800px; border: 3px solid #E0E0E0; height:80px; float:left; padding: 0 10px; margin:8px -15px;">
		<div id="subject_thumb_container"  style="margin: 6px -10px;">
		{% for s in subjects %} 
	 
		{% include "utils/subject_thumb.html" %}

		{% endfor %}		

		</div>
		<div class="subject_options"><button>Find More Subjects</button><br/>
<button>Create New Subject</button>
</div>

	</div>


<div id="subject_frame_container">
	{% for s in subjects %} 

	 <div class="subject"  style="display:none;" id="{{ s.subject.tag }}">
	 
	 
	 
	 
	 
	 <div class="top_level">

{% include "subject/top_level.html" %}	 

		</div> {# end toplevel #}
		
		
		
		<div class="member_section">
		
		{% if s.is_member %}
		{% include "subject/member_section.html" %}
		{% else %}
		Na na na.  You're not a member. 
		{% endif %}
		
		</div>{# end member section #}
		
		
			</div> {# end subject #}
	
	{% endfor %}

</div>



	</div>




       {% comment %}
  <div id="submit_form">

   <div id="submit">
  <button onSubmit="return false;" onClick="return false;"><img width=50 height=51 src="/static/stylesheets/img/utils/purple_next.png"/><span class="continue_button" >Save Changes</span></button>
  </div>

   <div id="cancel"><span>or Cancel</span> <div id='sponsor_form_cancel'><img src="/static/stylesheets/img/utils/cancel.png"></div></div>          
       <div class="form_error warning_note" id="sponsor_form_error">
     There was an error sending this form.<div style="height:7px;"></div>If refreshing the page doesn't work,<div style="height:1px;"></div> <a id="contact">contact us</a>. 
     </div>
</div>
{% endcomment %}
{% endblock %}
