{% extends "../base.html" %}
{% block head %}


		<script src="/static/scripts/jquery/jquery.ui.js"></script>
		<link rel="stylesheet" href="/static/stylesheets/ui/app_screen.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/tabs.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/stylesheets/profile/profile.css" type="text/css" media="screen">
		
		<script src="/static/scripts/profile/profile.js"></script>
		<script src="/static/scripts/profile/tagcloud.js"></script>
		
		
	{% if profile_owner %}
<link rel="stylesheet" href="/static/stylesheets/ui/dialog.css" type="text/css" media="screen">
<script src="/static/scripts/profile/profile_owner.js"></script>
{% endif %}
	

{% endblock %}


{% block main %}

	<!-- TABS -->
	
	<div class="profile_outer">
	
	
		<div class="profile">
	
		<div id="photo"><img src='/image/profile/?img_id={{ user.photo.key }}'/></div>
		<div id="basics">
		<div id="name">{{ user.fullname }} </div>
		<!--TODO <div id="profession">Software Designer</div> -->
		</div>
		
            <ul id="main_nav">
                <li class="ui-tabs-nav-item" id="profile_nav">
                
                <a href="#summary">Summary</a></li>
                <li class="ui-tabs-nav-item"><a href="#portfolio">Report Card</a></li>
            </ul>
            <div id="summary" class="profile-panel">

                <div class="panel_content" >
                
             <h2>Skill Cloud</h2>
                
              <div class="dynacloud" id="dynacloud">
              
              {% for l in level_cloud %}  {{ l.topic.name }}  {% endfor %}   

                </div>
                
                </div>
                
                 <div class="panel_content" id="stats">
                
              <div class="stat">   <h2>Range: </h2> <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:{{ range }}&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/></div> </div>
                 
              <div class="stat">      <h2>Depth: </h2>  <div class="statometer"><img src="http://chart.apis.google.com/chart?chs=100x55&cht=gom&chd=t:{{ depth }}&chco=DDDDDD,00ea00&chf=bg,s,DDDDDD"/> </div>  </div>
                 
            </div>
            
            
            
            </div><!-- end summary -->
            
            
            <div id="portfolio" class="profile-panel" >
        
{% for tl in top_levels %}                
                <div class="panel_content" {% if forloop.last %} style="border-style:none;" {% endif %}>
                <div class="proficiency_name"><h3>{{ tl.topic.name }} </h3></div>
                  <h4 class="percentile"><span>{{ tl.topic_level }}</span>th percentile</h4>
                <div class="scoreometer"><img src="http://chart.apis.google.com/chart?chs=150x85&cht=gom&chd=t:{{ tl.topic_level }}&chco=F7F5F4,00ea00&chf=bg,s,F7F5F4"/></div>
                </div>
                
{% endfor %}
                <!-- TODO put this on sidebar
    <div class="embed_code">
                 share your top scores 
                 <input type="text" value='<script type="text/javascript"><a href="http://www.plopquiz.com/"</script>' onClick="$(this).select();" name="score_embed"/>
                 </div> -->
                 
               
            </div><!-- portfolio -->
{% if profile_owner %}
{% include "profile_owner.html" %}
{% endif %}

    <ul id="personal_nav">
		    <li class="ui-tabs-nav-item"><a href="#quote">Quote</a></li>
                <li class="ui-tabs-nav-item"><a href="#info">Info</a></li>
                <li class="ui-tabs-nav-item"><a href="#network">Network</a></li>
                
            </ul>
            <div id="personal">
		<div class="personal_content" id="info"> <div class="info_content">  
		Work Status: <div>{{ user.work_status|default_if_none:"" }} </div>
		
		Location: <div>{{ user.location|default_if_none:"" }}</div>
		
		Webpage: <div><a>{{ user.webpage|default_if_none:"" }}</a></div>
		
		About Me: <div>{{ user.aboutme|default_if_none:"" }}</div>		
		 </div> </div> 
		
		
		<div class="personal_content" id="quote">
		<div class="quote_content">
		"If I had 20 days to solve a problem, I would take 19 days to define it." 
		<br/><br/>
		-- Albert Einstein
		 </div> 
		 
		 
		</div>
		
							<div class="personal_content" id="network">
		<div class="network_content"><div class="outside_profile linkedin">LinkedIn Profile</div><div class="outside_profile facebook">Facebook Profile</div>
		<div class="network_item following"> 
		Following: 
		
		<div>
		<li>Greenfuel Technologies</li>
		<li>Brightsource</li>
		<li>Sopogy</li>
		</div>

		 </div> <!--end info_content-->
		 
			<div class="network_item following"> 
		Employed By: 
		
		<div>
		<li>Plopquiz</li>

		</div>

		 </div> <!--end info_content-->	
		
		 </div> 
		 
		 
		</div>
        </div> <!-- personal_nav -->


</div>  <!-- profile --> 




 </div> 



{% endblock %}
