


<div class="panel_box edit_profile_link"><a href="/edit_profile">edit profile</a></div>

{% if is_sponsor %}

<div class="panel_box edit_profile_link share_profile_link"><a href="/edit_sponsor_settings">edit sponsor settings</a></div>

{% else %}

<div class="panel_box edit_profile_link share_profile_link"><a onClick="ShareProfile();">share your profile</a></div>

<div class="share_container">
<div class="ui-dialog-content" id="share_profile" style="display:none;" title="Share Your Profile">
<div class="sponsors">
<p>Bug your parents to get you this stuff!</p>

<li class="info_note sponsorship_preview">
Sponsorship display</li>

<p>Just send links to your profile</p>
<textarea class="share" onClick="$(this).select();">Sponsor My PlopQuiz Profile: http://www.plopquiz.com/profile/{{ user.profile_path }}</textarea>
</div>

<div class="employers" style="display:none;">

<p>You can share your academic profile on your resume or college application. </p>

<textarea class="share" onClick="$(this).select();">My Academic Profile From PlopQuiz: http://www.plopquiz.com/profile/{{ user.profile_path }} </textarea>
</div>

</div>

</div>


{% endif %}
