


<div class="panel_box edit_profile_link"><a href="/edit_profile">edit profile</a></div>

<div class="panel_box edit_profile_link share_profile_link"><a onClick="ShareProfile();">share your profile</a></div>

<div class="share_container">
<div class="ui-dialog-content" id="share_profile" style="display:none;" title="Share Your Profile">
<div class="sponsors">
<textarea class="share" onClick="$(this).select();">Sponsor My PlopQuiz Profile: http://www.plopquiz.com/profile/{{ user.profile_path }}</textarea>
</div>

<div class="employers" style="display:none;">
<textarea class="share" onClick="$(this).select();">My Academic Profile From PlopQuiz: http://www.plopquiz.com/profile/{{ user.profile_path }} </textarea>
</div>

</div>

</div>
