/* Global Resets */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
/*	vertical-align: baseline; */
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}






fieldset,homepage {
border: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

:focus {
outline: 0;
}

sub, sup {
font-size: 8px;
line-height: 0;
}

body, html {
margin: 0;
padding: 0;
height: 100%;
}

/* Liquid Sitelet Box */
.clear { clear: both; }
.sitelet .left { float: left; }
.sitelet .right { float: right; }
.sitelet .top, .sitelet .bottom { position: relative; }

.sitelet .top .liquid { background:url(img/base/sitelet-top.png) repeat-x; }
.sitelet .bottom .liquid { background:url(img/base/sitelet-bottom.png) repeat-x; }
.sitelet .middle .wrap1 { background: url(img/base/sitelet-left.png) repeat-y top left; }
.sitelet .middle .wrap2 { background: url(img/base/sitelet-right.png) repeat-y top right; }
.sitelet .corner {
width: 11px;
height: 11px;
background: url(img/base/sitelet-corners.png) no-repeat;
}
.sitelet .top {	
height: 11px; 
}
.sitelet .bottom {
height: 35px;
}
.sitelet .top .liquid{
margin: 0px 11px;
height: 11px;
}
.sitelet .bottom .liquid {
margin: 0px 11px;
height: 35px;
}
.sitelet .top .left.corner {	background-position: 0px 0px; }
.sitelet .top .right.corner { background-position: -11px 0px; }
.sitelet .bottom .left.corner { 
background-position: 0px -11px; 
height: 35px;
}
.sitelet .bottom .right.corner { 
background-position: -11px -11px; 
height: 35px;
}
.sitelet .middle .main_wrapper {
background: #F7F5F4;
margin: 0px 11px;
overflow: hidden;
height: 420px;
}

.sitelet .middle .main_wrapper .main {
background: #F7F5F4;
}

/* Homepage */


body {
background: #b4ffa2 url(img/base/bg_green.png) bottom left repeat-x;
 font-family: Georgia, "Times New Roman", Times, serif; 
/* font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;   --mstcorefonts not required */
font-size:100%;
}
#viewport {
width: 100%;
height: 100%;
position: relative;
}
#clouds-near, #clouds-far {
position: absolute;
top: 15%;
left: 0px;
width: 100%;
height: 100%;
}
#clouds-far {
background:url(img/base/clouds-far_green.png) repeat-x;
z-index: 10;
top: 12%;
}
#clouds-near {
background:url(img/base/clouds-near_green.png) repeat-x;
z-index: 20;
}
#land {
position: absolute;
width: 100%;
height: 92px;
left:0px;
bottom: -14px;
background:url(img/base/land.png) repeat-x;
z-index: 15;
}
#cutoff {
position: absolute;
width: 100%;
height: 100%;
z-index: 5;
top: 0px;
left: 0px;
overflow: hidden;
}



#sitelet-home {
/* Half width and height offset*/
color:#434343;
font-size:14px;
left:50%;
margin-left:-477px;
margin-top:-248px;
position:absolute;
top:50%;
width:950px;
z-index:90;
}


form input.button {
background-color: #EEE;
border-color:#CCC #999 #999 #CCC;
border-style: solid;
border-width: 1px;
font-size: 14px;
margin: 9px 0 0;
padding: 5px 8px;
-moz-border-radius-bottomleft:12px;
-moz-border-radius-bottomright:12px;
-moz-border-radius-topleft:12px;
-moz-border-radius-topright:12px;
-webkit-border-radius: 12px;
}



/* Global Styles */


h1{
font-size:3em;
letter-spacing:0.12em;
}


div.selection_box
{
        -moz-border-bottom-colors:  #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-top-colors:     #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-left-colors:    #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-right-colors:   #777 #888 #999 #aaa #bbb #ccc;
        border:10px solid #DDDDDD;
        background:#EEEAF8 none repeat scroll 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}


div.frame_box{
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:#FFFFFF none repeat scroll 0 0;
border:5px solid #DDDDDD;
padding:10px;
}

span.checkbox{
margin-left:10px;
color:#EAF2F8;
}

span.checkbox:hover{
color:#DDDDDD;
}



.purple_box{
-moz-border-bottom-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-left-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-right-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-top-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
background:transparent url(/static/html/img/background_250.png) repeat scroll center top;
border:10px solid #DDDDDD;
color:#EAF2F8;
}


div.input_float{
float:left;
width:180px;
}

div#login{
background:#F7F5F4 none repeat scroll 0 0;
color:#333333;
font-size:0.9em;
font-weight:bold;
height:0;
line-height:1.1em;
margin:-1px 7px 0;
}

div#login a{
text-decoration: none;
}

div#login a.profile{
margin:0 12px 0 0;
}

div#login a img{
float:left;
margin:-5px -102px 0 86px;
border:1px solid #DDDDDD;
}

div#right_corner{
height: 0px; float: right; 
}
div#right_corner img{
cursor: pointer;
}

div#right_corner span{
float:left;
font-size:1.1em;
font-weight:bold;
margin:4px 3px;
}


img.scrollButtons{
cursor:pointer;
}
