
div#loading_items{
margin: 40px 0px 0px 80px;
}

div.quiz_items{
width:700px;
}

div.quiz_item{
height:auto;
margin-bottom:100px;
}


div.index{
font-size:2.2em;
float:left;
display:none;
}


/* ITEM CONTENT */

.item_inner{
padding: 15px;
}

div.pre_content, div.post_content{
font-style: italic;
margin: 10px 0px;
}

div.content{
margin: 10px 0px;
font-size: 1.2em;
line-height:1.6em;
}

div.quiz_item_content{
background-color:#FFDFFF;
float:left;
height:250px;
margin:10px 0;
overflow:auto;
width:700px;
}

div.pre_content span.answer_span, div.post_content span.answer_span{
font-weight:bold;
padding:0 5px;
}

div.content span.answer_span{
color: black;
background:#FFFFD1 none repeat scroll 0 0;
border:1px solid #E2C922;
font-weight:bold;
margin:0 5px;
padding:0 5px;
}


/* ANSWER CANDIDATES */

span.answer_candidate{
color:#555555;
font-weight:normal;
margin-left:20px;

}

div.answers_container{
width:auto;
overflow:auto;
height:110px;
clear:both;
background:#FFFFDB none repeat scroll 0 0;
}


div.answer_candidates{

margin: 0 0 0;
width:auto;
height:110px;
}


div.ac_container{
border:1px solid black;
float:left;
height:108px;
width:135px;
}


div.answer_candidate{
margin:30px 5px;
text-align:center;
}


div.quiz_form{
clear:both;
display:none;
}



/* Navigation */

ul.item_navigation{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}


ul.item_navigation li{
float:left;
margin-right:10px;
}

