span.answer_candidate{
color:#555555;
font-weight:normal;
margin-left:20px;
}

div.quiz_item_content{
float:right;
width:500px;
}

span.answer_span{
color: black;
background:#FFFFD1 none repeat scroll 0 0;
border:1px solid #E2C922;
font-weight:bold;
margin:0 5px;
padding:0 5px;
}

div.answer_candidates{
width:400px;
}
