/* Global Resets */


div.ubiquity_quizbuilder div, div.ubiquity_quizbuilder span,  
div.ubiquity_quizbuilder h1, div.ubiquity_quizbuilder h2,
div.ubiquity_quizbuilder a, div.ubiquity_quizbuilder img, 
div.ubiquity_quizbuilder form, div.ubiquity_quizbuilder input
 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 16px;
/*	vertical-align: baseline; */
	background: transparent;
	text-decoration:none;
	line-height: 1;
	list-style: none;
	letter-spacing:0.01em;
}

div.ubiquity_quizbuilder :focus {
	outline: 0;
}



div.ubiquity_quizbuilder a{
cursor:pointer;
color:#000040;
}

