<div class="pq_quiz_frame_header" style="height:66px;">
        <div class="pq_quiz_frame_logo" id="pq_pq" style="margin:0 0 0 43px !important;">
                <img src="{{ http_host }}/static/html/img/pq_logo_h_small.png"/>
        </div>
</div>


<div class="pq_quiz_frame_content" style="height:230px;">
        <div class="pq_quiz_intro_text" style="margin-top:15px !important;" >
                <div class="pq_quiz_selection" id="pq_choose_profs">
                        <div class="pq_quiz_description" id="pq_profs" >
                                <div class="pq_begin_quiz" >  
                                        <br/>This quiz assesses proficiency in the following areas:</div>
                                <form id="pq_proficiency_choices">
                                </form>
                                <div class="pq_begin_quiz" style="margin-top:10px !important;"> 
                                        Uncheck any you're not interested in...<br/> - it won't count against you.
                                </div>
                        </div>
                </div>
        </div>
</div>
