

<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq">
<img src="{{ http_host }}/static/html/img/pq_logo_h_small.png"/>
</div>

</div>

<div class="subject_thumb_container">
{% for p in proficiencies %} 
{# this should be in sepereate html #}

    <div id="subject_thumb_{{ forloop.counter }}" class="proficiency_pic selection_box subject_thumb">
                        <ol class="sliderContent" id="subject_thumb_{{ forloop.counter }}Content">

                        <li class="smallsliderImage" id="{{ forloop.counter }}" >
                            <img src="{{ http_host}}/image/subject/?img_id={{ p.images.0.key|default:"default" }}&size=small"/>
                            <span class="slider img_{% cycle top,bottom %}">
                            <span class="subject_thumb_name"> {{ p.name }} </span>
                            </span>
                        </li>

                        <div class="clear subject_thumb_{{ forloop.counter }}Image"></div>
                    </ol>
    </div>

{% endfor %}
</div>

<div class="quiz_frame_content intro_frame_content" >


{% for p in proficiencies %} 

<div id="subject_container_{{ forloop.counter }}" class="subject_container" style="display:none;">

{% include "subject_frame.html" %}

<div class="subject_preview_right">

 <div class="subject_description">{{ p.blurb }}</div>
 
 </div>

</div>

{% endfor %}


</div><!-- quiz_frame_content -->


