

<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq">
<img src="{{ http_host }}/static/html/img/pq_logo_h_small.png"/>
</div>

</div>

<div class="subject_thumb_container">
{% for p in proficiencies %} 

{% include "intro/subject_thumb.html" %}

{% endfor %}
</div>

<div class="quiz_frame_content intro_frame_content" >


{% for p in proficiencies %} 

<div id="subject_container_{{ forloop.counter }}" class="subject_container" style="display:none;">

{% include "intro/subject_frame.html" %}

<div class="subject_preview_right">

 <div class="subject_description">{{ p.blurb }}</div>
 
 </div>

</div>

{% endfor %}


</div><!-- quiz_frame_content -->


