<body>
<div id="quiz_wrap"><div id="quiz_loading"><div></div></div>
<div id="quiz_outer">
<div id="quiz_inner">
<div id="quiz_bg">
<div class="quiz_bg quiz_bg_n"></div>
<div class="quiz_bg quiz_bg_ne"></div>
<div class="quiz_bg quiz_bg_e"></div>
<div class="quiz_bg quiz_bg_se"></div>
<div class="quiz_bg quiz_bg_s"></div>
<div class="quiz_bg quiz_bg_sw"></div>
<div class="quiz_bg quiz_bg_w"></div>
<div class="quiz_bg quiz_bg_nw"></div>
</div>


<div id="quiz_nav">

</div><div id="quiz_close"></div>
<div id="quiz_content"></div>


<div id="quiz_title">


<div id="quiz_score"  class="buttons">

</div>

<div id="quiz_intro"  class="buttons">

<a id="take_quiz" onmouseover="" class="answer" href="#">

<table cellspacing="0" cellpadding="0" border="0" >
<tr> <td id="quiz_purple_left"></td><td id="quiz_purple_main">
<div class="answertext" id="take_quiz" style="width: 170px; font-size: 1.3em;">T<span style="font-size:.7em;"/>ake</span> T<span style="font-size:.7em;"/>his</span> Q<span style="font-size:.7em;"/>uiz</span></div>
</td><td id="quiz_purple_right"></td></tr></table></a></div>



<div id="quiz_instructions"  class="buttons">
<a id="answer1" onmouseover="" class="answer" style="margin-left:53px;" href="#">
<table cellspacing="0" cellpadding="0" border="0" ><tr> <td id="quiz_blue_left"></td><td id="quiz_blue_main">
<div class="answertext" id="answer1"></div></td><td id="quiz_blue_right"></td></tr></table></a>
<a id="answer2" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" ><tr><td id="quiz_blue_left"></td>
<td id="quiz_blue_main"><div class="answertext" style="margin-left:1px; width:101%;" id="answer2"></div></td>
<td id="quiz_blue_right"></td></tr></table></a>


</div>


<div id="quiz_instructions2" class="buttons" style="margin-top:7px;margin-left:16px;">
<div class="timer_wrapper"  id="quiz_timer_instruction"><div class="timer_bar timer_inner" style="width:345px;"></div></div>

<a id="answer1" onmouseover="" class="answer"  href="#"><table cellspacing="0" cellpadding="0" border="0" >
<tr> <td id="quiz_blue_left"></td><td id="quiz_blue_main" style="min-width:60px;"><div class="answertext"  style="margin-left:-6px" id="answer1"></div></td><td id="quiz_blue_right"></td></tr></table></a>
<a id="answer2" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" >
<tr><td id="quiz_blue_left"></td><td id="quiz_blue_main" style="min-width:60px;"><div class="answertext" style="margin-left:-12px;" id="answer2"></div></td><td id="quiz_blue_right"></td></tr></table></a>
<a id="skip" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" >
<tr><td id="quiz_pink_left"></td><td id="quiz_pink_main"><div class="arrow"><img src="/static/stylesheets/img/arrow.png" /></div><div class="skipitem" id="skiptext">Skip</div></td><td id="quiz_pink_right"></td></tr></table></a>


</div>


<div id="quiz_begin_quiz" class="buttons" style=" margin-top:7px">
<a id="startquiz" class="notanswer" href="#" style=" margin-top:7px; margin-left: 90px">
<table cellspacing="0" cellpadding="0" border="0" ><tr><td id="quiz_purple_left"></td>
<td id="quiz_purple_main" style="padding:0;">
<div class="skipitem" id="startquiz">S<span style="font-size:.7em;"/>tart</span> Q<span style="font-size:.7em;"/>uiz</span>!</div>
</td><td id="quiz_purple_right"></td></tr></table></a></div>


<div id="quiz_answers" class="buttons">
<div class="timer_wrapper" id="quiz_timer">
<div class="timer_bar timer_inner"></div>
</div>
<a id="answer1" onmouseover="" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" ><tr> <td id="quiz_blue_left"></td><td id="quiz_blue_main"><div class="answertext" id="answer1"></div></td><td id="quiz_blue_right"></td></tr></table></a>
<a id="answer2" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" ><tr><td id="quiz_blue_left"></td><td id="quiz_blue_main"><div class="answertext" id="answer2"></div></td><td id="quiz_blue_right"></td></tr></table></a>
<a id="answer3" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" ><tr><td id="quiz_blue_left"></td><td id="quiz_blue_main"><div class="answertext" id="answer3"></div></td><td id="quiz_blue_right"></td></tr></table></a>
<a id="skip" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" ><tr><td id="quiz_pink_left"></td><td id="quiz_pink_main"><div class="arrow"><img src="/static/stylesheets/img/arrow.png" /></div><div class="skipitem" id="skiptext">Skip</div></td><td id="quiz_pink_right"></td></tr></table></a>
<a id="timeout" class="answer" href="#" style=""></a>
</div>











</div>
</div>
</div>
</div>
</div>
</body>


