/*
*
* Layout
*
*/

.sitelet .middle .main_wrapper .main {
height:880px;
}

div#edit_subjects{
width:810px;
height:800px;
float:left;
margin:30px 0 0 50px;
font-size:1.3em;
overflow:hidden;
}


div#edit_subjects div.frame_header h2{ font-size: 1.5em; }

div#edit_subjects div.frame_header span{
font-size: .5em; display:block; position:absolute; margin: -16px 0 0 196px;
 }
div#edit_subjects div.frame_header h2#subject_selection{ 
 font-size: 1.5em; position:absolute;margin: -27px 0 0 216px;
}

div.subject_options{
float:right;margin:-10px 10px
}

div.subject_thumb_container{
height:70px;
margin:4px 0 0 30px;
width:640px;
position:relative;
}

/*
*
* Quiz Subjects 
*
*/

div#subject_frame_container{
    position:absolute;
    margin: 100px 0;
}
div#subject_frame_container .subject_frame{
height:210px;
width:300px;
position:absolute;
}

.bigsliderImage span.slider{
	font: 25px Arial, Helvetica, sans-serif;
	padding:1px 8px 3px;
	width:285px;
}



div#subject_frame_container ul.subject_nav{  margin: 0 350px;
position:absolute;
width:300px; }

div#subject_frame_container .ui-tabs-nav-item {margin: 1px 3px 0; }

div#subject_frame_container .ui-tabs-nav-item.description{}

div#subject_frame_container .ui-tabs-nav-item a { padding:5px 10px; line-height:1.1em; font-size:0.9em; }


/*
*
* Top Level
*
*/


div#subject_frame_container div.top_level {
height:330px;
position:absolute;
width:820px;
}



div#subject_frame_container .blurb{
    -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background:#F3F3F3 url(/static/stylesheets/img/ui/f3f3f3_40x100_textures_01_flat_0.png) repeat-x scroll 0 0;
	border:2px solid #DDDDDD;
	overflow:hidden;
	color:#000040;
}

div#subject_frame_container .blurb.middle{
    position:absolute; top:30px; left: 330px; width:280px; height:290px;
}

div#subject_frame_container .blurb.side{
height:263px;
margin:35px 630px;
padding:10px;
position:absolute;
width:160px;
}

div#subject_frame_container div.upload_picture {
position:absolute; width:310px; margin: 240px 0;
}

div.upload_picture button{
    margin: 2px;
    
}
.blurb .header{
    text-align:center;
}
.blurb .blurb_text{
    position:absolute;
    overflow:hidden;
width:240px; 
padding: 10px 20px;
height:180px; 
text-align:center;
line-height: 1.2em;
font-size: .9em;
}

.blurb .blurb_text.video{ padding: 10px 5px; }

.blurb textarea{
position:absolute;
width:220px; 
margin: 5px 6px;
font-size: .7em;
line-height: 1.2em;
padding: 10px 20px;
height:155px; 
text-align:center;
}

.blurb div.limit{
    position:absolute;
    margin: 190px 0 0 15px;
    font-size: .6em;
}
div.footer{
    position:absolute; margin:199px 0 0 60px;
}
.blurb div.footer button img{
    margin: 0pt 10px 0pt 0px;
}

.blurb div.footer button.save{ display:none; }



/* Stats - Share with QT widget */

div.subject_stat{
height:65px;
margin-left: 9px;
}

div.subject_stat.difficulty{
margin-top:100px;
}

div.subject_stats{
margin: 4px 0px;
}

div.subject_stat h3{
margin:45px 0 0 10px;
}

div.statometer{
float:right;
margin:-14px 20px 0;
}



/*
*
* Middle Level
*
*/

div#subject_frame_container div.middle_level {
margin-top: 330px;
position:absolute;
width:820px;
height: 150px;
}


div#subject_frame_container div.item_count {
font-size:4em;
height:110px;
padding:0 10px;
position:absolute;
width:120px;
text-align:center;
margin-top:20px;
}

div#subject_frame_container div.item_count#total { margin-left:10px; }
div#subject_frame_container div.item_count#pending { color: Crimson; margin-left:170px; }

div#subject_frame_container div.item_count span{
font-size:20px;
margin:5px -20px;
display:block;
}

div#subject_frame_container button.quiz_items{
font-size:1.3em;
height:100px;
margin:30px 325px;
position:absolute;
width:480px;
}

/*
*
* Lower Level
*
*/


div#subject_frame_container div.lower_level {
height:140px;
margin-top:485px;
position:absolute;
width:820px;
}

div.lower_level  div.current_admins, div.lower_level  div.current_contributors, div.lower_level div.invite_contributors{
height:100%;
width:160px;
float: left;
}

div.lower_level div.invite_contributors{
height:175px;
margin:2px;
width:480px;
}



div.lower_level  select{
width: 150px;
}


div.lower_level{
text-align: center;
}
