{% extends "../base.html" %}
{% block title %}
#QuiztheBill
{% endblock %}

{% block head %}

<style type="text/css"> 
{% include "../../static/stylesheets/utils/form.css" %}
{% include "../../static/stylesheets/quiz_the_bill/styles.css" %}
</style> 


 
 <script type="text/javascript"> 

DEFAULT_EMAIL_VAL = "Enter your E-mail Address";
 
 $(function(){
 	
$('div#updates').find('input').preserveDefaultText(DEFAULT_EMAIL_VAL);

$('div.bill').hover(function(){ 	
	$(this).css({"background-color":"#CCCCCC","border-color":"#CCCCCC"});
	$(this).find('div').css({"color":"#000080"});
	},function(){
	$(this).css({"background-color":"#DDDDDD","border-color":"#DDDDDD"});
	$(this).find('div').css({"color":"#000040"});
});

$('div#updates').find('button').click(function(){
	var email = $('div#updates').find('input').val();
	console.log(email); 
	if (email.indexOf('@') == -1) return alert("Make sure you have entered a valid e-mail address");
	if (email.indexOf('@') > -1) {
		
       $('div#updates').find('button').attr('disabled', true);
       
        jQuery.ajax({
	type: "POST",
	url:  "/editor/rpc/post",
	data:
	{
			action: "GetBillUpdates",
			email: email
	},
	success: function(response)
	{ 	 alert("You are now signed up! Check your inbox for a confirmation e-mail.")
	}
});
		}
		
		
	 	});
	 	

 	});
 	
 	
  
   </script>
{% endblock %}


{% block main %}

<div id="header">
<h2>#QuiztheBill</h2>
</div>
<div id="sub_header">Because Congress Needs Help With Their Homework</div>

<div class="frame_box panel" id="intro">

	<p>Would you like elected officials to have more accountability for understanding legislation before it's passed?</p>

	<p>And you've already signed the <a href="http://www.readthebill.org">ReadtheBill.org</a> petition for a mandatory 72 hour online rule?</p>
	 <div style="height:4px;"></div> 
	<p>We want to build a resource of quizzes about pending legislation available for both Congress and all other citizens.</p>
	<p style="padding-top: 10px; font-weight: bold;" class="note">Want to help? &nbsp; Just click one of the bills below.</p>
	
</div>



<div class="info_note panel" id="updates">
<div id="first_response"><button><img src="/static/stylesheets/img/utils/purple_next_tiny.png"/>Send Me Updates About New Bills</button></div>


<input type="text"/></div>


<div class="panel" id="bills">
{% for bill in bills %}
<a href="/bill/{{ bill.title }}">
<div class="bill">
<div class="image"><img src="http://govpix.appspot.com/{{ bill.sponsor_name }}" width="70" /></div>
<div class="title_container">
<div class="title">{{ bill.title }}</div>
</div>
<div style="clear:both"></div>
<div class="stats_container"><div class="stats">
<li><strong>Sponsor:</strong>{{ bill.sponsor }}</li>
<li><strong>Introduction Date:</strong>{{ bill.introduction_date }}</li>
<li><strong>Status:</strong>{{ bill.status }}</li>
<li><strong>Latest Action:</strong>{{ bill.latest_action }}</li>

{% if bill.next_step %} <li><strong>Next Step:</strong>{{ bill.next_step }}</li> {% endif  %}

</div></div>


</div>


</a>

{% endfor %}
</div>


{% endblock %}


{% comment %}



{# Buttons and Bling #}
<a href="http://www.opencongress.org"><img src="http://www.opencongress.org/images/logo_button_120px.gif" alt="OpenCongress.org" /></a> <a href="http://www.opencongress.org"><img src="http://www.opencongress.org/images/logo_button_80px.gif" alt="OpenCongress.org" /></a>



{% endcomment %}
