{% extends "../base.html" %}
{% block title %}
#QuiztheBill
{% endblock %}

{% block head %}

<style type="text/css"> 
{% include "../../static/stylesheets/utils/form.css" %}
{% include "../../static/stylesheets/quiz_the_bill/styles.css" %}
</style> 


 
 <script type="text/javascript"> 

DEFAULT_EMAIL_VAL = "Enter your E-mail Address";
 
 $(function(){
 	
$('div#updates').find('input').preserveDefaultText(DEFAULT_EMAIL_VAL);

$('div.bill').hover(function(){ 	
	$(this).css({"background-color":"#CCCCCC","border-color":"#CCCCCC"});
	$(this).find('div').css({"color":"#000080"});
	},function(){
	$(this).css({"background-color":"#DDDDDD","border-color":"#DDDDDD"});
	$(this).find('div').css({"color":"#000040"});
});



 	});
 	
 	
  
   </script>
{% endblock %}


{% block main %}

<div id="header">
<h2>#QuiztheBill</h2>
</div>
<div id="sub_header">Because Congress Needs Help With Their Homework</div>

<div class="frame_box panel" id="intro">

	<p>Do you want elected officials and citizens to have a chance to read and understand legislation before it's passed?</p>

	<p>And you've already signed the <a href="http://www.readthebill.org">ReadtheBill.org</a> petition for a 72 hour online rule?</p>
	{# <div style="height:18px;"></div> #}
	<p>Help Congress (and the rest of us) by contributing quiz items about pending legislation.</p>
	<p style="font-size:38px;">Click any of the bills below to start making quiz material.</p>
	
</div>



<div class="info_note panel" id="updates">
<div id="first_response">Join the <strong>First Response</strong> Mailing List </div>


<input type="text"/>

	</div>


<div class="panel" id="bills">
{% for bill in bills %}
<a href="/bill/{{ bill.title }}">
<div class="bill">
<div class="title">{{ bill.title }}</div>
<div style="clear:both"></div>
<div class="stats_container"><div class="stats">
<li><strong>Sponsor:</strong>{{ bill.sponsor }}</li>
<li><strong>Introduced:</strong>{{ bill.introduction_date }}</li>
<li><strong>Status:</strong>{{ bill.status }}</li>
<li><strong>Latest Action:</strong>{{ bill.latest_action }}</li>
<li><strong>Next Step:</strong>{{ bill.next_step }}</li>

</div></div>


</div>


</a>

{% endfor %}
</div>


{% endblock %}


{% comment %}



{# Buttons and Bling #}
<a href="http://www.opencongress.org"><img src="http://www.opencongress.org/images/logo_button_120px.gif" alt="OpenCongress.org" /></a> <a href="http://www.opencongress.org"><img src="http://www.opencongress.org/images/logo_button_80px.gif" alt="OpenCongress.org" /></a>



{% endcomment %}
