<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Quiz the Bill</title> 
{# <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" /> #}
<script type="text/javascript">
{% include "../../static/scripts/jquery/jquery-1.3.2.js" %}
jQuery(function(){
$('#frame').load(function()
{
	$(window).mouseup(function(){
		console.log('up!');
		console.log(window.getSelection());
		var selection = window.getSelection();
		if (selection.length > 2) return OpenEditor(selection);
		 });
});
				

	
});


function OpenEditor(statement){
	
        /*
         *
         * Setup Variables - Abstract differences between ubiquity and portable editor
         *
         */       

        var this_url = window.location.href;      
        var get_selection = function(){ return document.getSelection(); };
        var statement = get_selection() || statement;
        var doc = document;
        var serverUrl = "http://localhost:8080";
        
        var id = "pq-injected-data";
        
        jQuery.ajax({
            type: "GET",
            url: serverUrl + "/ubiquity/",
            data: "get=html&text=" + escape(statement),
            error: function(data){
                jQuery(doc.body).append("<div id='error'>" + data + "</div>");
            },
            success: function(data){
                // Remove existing injected data
                jQuery('#' + id, doc.body).remove();
                jQuery('head', doc).append('<link rel="stylesheet" type="text/css"  href="' + serverUrl + '/static/html/quizbuilder/ubiquity.css" />');
                jQuery.get(serverUrl + '/ubiquity/?get=js', function(script){
                    eval(script); // jQuery.getScript() doesn't work in Ubiquity sandbox.
                    // Inject remote data
                    jQuery(doc.body).append("<div id='" + id + "'>" + data + "</div>");
                    runCode();
                });
            }
        });
        
        
};
</script>

</head>

<body>
<div>hello</div>
<iframe id="frame" style="width:100%;" src="{{ url }}" ></iframe>
<script type="text/javascript">
function resizeIframe() {
    var height = document.documentElement.clientHeight;
    height -= document.getElementById('frame').offsetTop;
    
    // not sure how to get this dynamically
    height -= 20; /* whatever you set your body bottom margin/padding to be */
    
    document.getElementById('frame').style.height = height +"px";
    
};
document.getElementById('frame').onload = resizeIframe;
window.onresize = resizeIframe;
</script>


</body>


</html>
