div#left{ 
float:left;
padding:40px 0 0 10px;
width:460px;
}

div#right{
float:right;
padding:30px 10px 0 0;
width:460px;
}

div#cs_intro{
height:410px;
}

div#recent_sponsorships{ height:190px;}


div#sponsor_apply{ height:240px;}



div#cs_intro h1{
font-size: 1.6em;
}

div#cs_intro p{
font-size:1.5em;
line-height:1.02em;
margin:18px 3px;
width:420px;
}

div#cs_intro p.big{
/* font-size:1.6em; */
}




div#cs_intro ul{

}


div#cs_intro ul li{
list-style:disc;
font-size:1.2em;
line-height:1.1em;
margin:10px 35px 0;
}


.error{
color:red;
display:none;
font-size: .6em;
}









/* action feed */


div#action_feed{
height:140px;
overflow:hidden;
}

.action_item{
height:100px;
margin:10px 0;
padding:5px 0 15px;
width:440px;
}


.is_winner{
margin:4px 10px;
}

.is_subject{
float:right;
width:120px;
margin:-83px 10px;
height:80px;
overflow:hidden;
}


.is_recipient{
margin:4px 15px;
}

.is_sponsor{
float:right;
margin:-99px 18px;
}

span.action_type{
display:block;
font-size:1.5em;
line-height:1.3em;
margin:5px 0px 0px 120px;
text-align:center;
width:160px;
background: #FFF;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        padding: 3px;
}

span.action_date{
display:block;

font-size:0.7em;
/* margin:10px 49px; float:left; */
margin:0 0 0 179px;
/* position:absolute; */
}
span.sponsored_by{
margin-left: 135px;
}


div.mc{
font-size:1.5em;
margin:13px 0 0 16px;
}

div.mc_correct{
font-weight: bold;
}


div.intro_item_header{
font-size:1.2em;
margin:10px 8px 0px;
}

div.intro_item{
line-height:1.2em;
margin:3px 15px;
}

div.intro_item a{ font-weight: bold; }



/* cut out what isnt needed, and share more between stylesheets */




/* Application Form */

div#sponsor_signup{
margin:10px;
}

form#sponsor_apply{
font-size:1.2em;
margin:0 0 0 10px;
}

form#sponsor_apply fieldset{
height:65px;
}


form#sponsor_apply input{
font-size: .9em;
padding: 2px;
margin: 5px 3px 0px 0px;
}




div#submit_success{
height:100px;
padding:30px;
font-size:1.2em;
}
