{% extends "../base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/homepage/homepage.css"/>
<script type="text/javascript" src="/static/scripts/homepage/homepage.js"></script>

<!-- freebase 
<script type="text/javascript" src="/static/scripts/freebase-suggest/freebase.suggest.js"></script>
<link type="text/css" rel="stylesheet" href="/static/scripts/freebase-suggest/dist/css/freebase-controls.css" />
  <style type="text/css"> 
  .fbs-li-types { display:none; }   /* if you want to hide the type info in the suggest popup */
 </style>  -->

{% endblock %}


{% block main %}
			<h1 style="display:none;">Test Your Knowledge, Upgrade Your Resume, Earn Awards and Sponsors.</h1>
										<a style="float:right; display:block;" onclick="window.open('http://www.co2stats.com/certpro.php?s=1278&ref=http://www.plopquiz.com','popup','width=550,height=515,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0');return false;" href="http://www.co2stats.com/certpro.php?s=1278&ref=http://www.plopquiz.com/">
<img border="0" src="/static/stylesheets/img/homepage/green_site.png"/>
</a>
					


		<div class="left">		
						<div id="logo">
							<img src="/static/stylesheets/img/homepage/horizontal_logo.png" alt="" />
						</div>
						<div id="intro">
							<div id="smart">show</div>
						
							<div id="blinder"> what&nbsp;  &nbsp;   you</div>
							<div id="motto">
								<span class="blank"><span class="smart_span_holder" id="smart1">show</span></span>&nbsp;&nbsp;what   you
								<span class="blank" id="two"><span class="smart_span_holder">show</span></span> 
							</div>
			
						</div>
		
	<!--	
<div class="employers frame_box">
<h3>Employers</h3>
<div id="claim">claim your profile and discover new talent.</div>
<input type="text" id="employer_name" value="what's the name of your business?" />
</div>  -->	

<div id="intro_frame_box" class="frame_box">

<h3>PlopQuiz In 6 Easy Steps</h3>
<div class="mc"><span class="num"><button>1.</button></span>Take Quizzes</div>
<div class="mc"><span class="num"><button>2.</button></span>Build an Academic Profile</div>
<div class="mc"><span class="num"><button>3.</button></span>Earn Awards</div>
<div class="mc"><span class="num"><button>4.</button></span>Earn Sponsorships</div>
<div class="mc"><span class="num"><button>5.</button></span>Upgrade Your Resume</div>
<div class="mc" id="sixth"><span class="num"><button>6.</button></span>There is no 6th step!</div>

<div id="business" class="frame_box">Until April 1st 2009, we will be accepting <a href="/sponsors/">community sponsorship applications</a>.</div>
<!--

<div class="intro_item_header" style="margin-top: 28px;">Businesses</div>
<div class="intro_item">Show Responsibility. <br/> Connect with Motivated Students.<br/><a>Be a Sponsor.</a></div>

<div class="intro_item_header">Parents and Mentors</div>
<div class="intro_item">Support Achievement.<br/><a>Be a Sponsor.</a></div>


-->


</div>  


		</div> 



<div class="right">	
<div class="right_inner">	

<!-- <div class="upgrade">Upgrade your resume in <span class="mag">five minutes</span>. It's <span class="mag">free</span>. </div> -->

<div id="take_quiz">

<div id="featured_quiz_header" class="frame_box">featured quiz</div>
{# This is where the featured quiz loads #}

<script src="{{ http_host }}/js/quiz/{{ featured_quiz }}" type="text/javascript"></script>  

<div id="quiz_list">
<ul>
<li>
<div class="quiz_header frame_box">smart grid</div>
</li>
<li>
<div class="quiz_header frame_box">cars 2.0</div>
</li>
<li>
<div class="quiz_header frame_box">energy efficiency</div>
</li>
</ul>
</div>


<!--
<h1>Take an <span id="et">Energy Tech</span> <span id="q">Quiz</span></h1>

<div class="p_links"><a>biofuels</a> - <a>finance</a> - <a>solar power</a> - <a>law &amp; policy</a> -  <a>smart grid tech</a> - <a> and more!</a></div>
-->
</div>

<div id="action_feed" class="action_feed">
{% for action in recent_actions %}

{% include "feed_item.html" %}


{% endfor %}
</div>


</div>

</div>





{% endblock %}
