{% extends "../base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/homepage.css"/>
<script type="text/javascript" src="/static/scripts/jquery/jquery.animatedcollapse.js"></script>

<!-- scroll -->
<script src="/static/scripts/scroll/jquery.scrollTo-min.js" type="text/javascript"></script>
<script src="/static/scripts/scroll/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/scroll/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/homepage/homepage-slider.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="/static/scripts/homepage/homepage.js"></script>

{% endblock %}


{% block main %}


<div class="logo"><img src="/static/stylesheets/img/homepage/pink_cloud.png" /><h1 class="proficiency">Select a Proficiency</h1></div>

<div class="proficiency_container"><div class="proficiencies_scroll"><div class="proficiencies">



<div class="proficiency" id="energy_economics">
<img src="/static/stylesheets/img/proficiencies/energy_finance.png" />
</div>
<div class="proficiency" id="biofuels">
<img src="/static/stylesheets/img/proficiencies/biofuels.png" />
</div>
<div class="proficiency" id="solar_energy">
<img src="/static/stylesheets/img/proficiencies/solar_energy.png" />
</div>
<div class="proficiency" id="energy_efficiency">
<img src="/static/stylesheets/img/proficiencies/energy_efficiency.png" />
</div>
<div class="proficiency" id="oil">
<img src="/static/stylesheets/img/proficiencies/oil.png" />
</div>


<div class="proficiency" id="electricity">
<img src="/static/stylesheets/img/proficiencies/electricity.png" />
</div>

<div class="proficiency" id="energy_economics">
<img src="/static/stylesheets/img/proficiencies/energy_finance.png" />
</div>
<div class="proficiency" id="biofuels">
<img src="/static/stylesheets/img/proficiencies/biofuels.png" />
</div>
<div class="proficiency" id="solar_energy">
<img src="/static/stylesheets/img/proficiencies/solar_energy.png" />
</div>
<div class="proficiency" id="energy_efficiency">
<img src="/static/stylesheets/img/proficiencies/energy_efficiency.png" />
</div>



</div></div></div>


<div id="descriptions">

<div id="d_energy_economics" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 45px;" ><img src="/static/stylesheets/img/proficiencies/energy_economics_pic.png"/></div>  
  <div class="proficiency_title" >Energy Economics</div>
<div class="description_text">
Between the $100 billion dollars invested in Clean Tech and new energy-conscious tax codes, there is a pressing need for those familiar with the new economic landscape.  
</div>

</div>



<div id="d_biofuels" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 20px;"><img src="/static/stylesheets/img/proficiencies/biofuels_pic.png"/></div>   
 <div class="proficiency_title" style="margin:5px 40px;" >Biofuels</div>
<div class="description_text">
Exciting advances in the conversion of biomass into fuel have made this environmentally-friendly production method into a Clean Tech poster child. 
</div>

</div>




<div id="d_solar_energy" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/solar_energy_pic.png"/></div> 
   <div class="proficiency_title" style="margin:5px 22px;" >Solar Energy</div>

<div class="description_text">
The oldest and most pervasive form of renewable energy draws from the same ambient source that sustains life on Earth.
</div>
</div>




<div id="d_energy_efficiency" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 40px;"><img src="/static/stylesheets/img/proficiencies/energy_efficiency_pic.png"/></div> 
   <div class="proficiency_title" >Energy Efficiency</div>
<div class="description_text">
The cheapest and most available source of new energy is the energy we waste. To save money and lower greenhouse gas levels, organizations are increasingly seeking ways to reduce their energy consumption.
</div>
</div>



<div id="d_oil" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 22px;"><img src="/static/stylesheets/img/proficiencies/oil_pic.png"/></div> 
   <div class="proficiency_title" style="margin:5px 70px;" >Oil</div>
<div class="description_text">
Petroleum makes up 40% of energy consumption, and has a worldwide impact on politics, economics, and the environment.
</div>
</div>




<div id="d_electricity" class="description frame_box">
<div class="proficiency_pic selection_box" style="margin:0 30px;"><img src="/static/stylesheets/img/proficiencies/electricity_pic.png"/></div>  
  <div class="proficiency_title" style="margin:5px 36px;">Electricity</div>
<div class="description_text">
Intelligent, distributed, and highly adaptive electrical systems aim to reduce power consumption and prevent peak hour failures. 
</div>
</div>



</div>





{% endblock %}
