

div.login_box{
float:left;
height:350px;
margin:30px 180px;
width:500px;
}

div.login_box h2{
font-size: 1.3em;
float:left;
margin:13px 3px;
}

div.login_error{
float:left;
margin:40px 180px -50px;
width:500px;
}


span.note{
float:left;
font-size:0.8em;
line-height:1.5em;
margin:4px 0;
}
