

div.login_box{
float:left;
height:340px;
margin:50px 180px;
position:absolute;
width:500px;
}

div.login_box h2{
font-size: 1.3em;
float:left;
margin:13px 3px;
}

div.login_notice{
float:left;
margin:10px 255px -50px;
width:350px;
}


span.note{
float:left;
font-size:0.8em;
line-height:1.5em;
margin:4px 0;
}
