

div.login_box{
height:290px;
margin:60px 180px;
width:500px;
float:left;
}

div.login_error{
float:left;
margin:40px 180px -50px;
width:500px;
}


span.note{
float:left;
font-size:0.8em;
line-height:1.5em;
margin:4px 0;
}
