
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="/static/scripts/jquery/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/static/scripts/drilldown/js/jquery.bdc.ddmenu.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/scripts/drilldown/css/ddmenu.css" />

<script type="text/javascript">

jQuery(function($) {

$('#example-1').ddMenu();

});

</script>



<title>Drilldown</title></head>

<body>

<div>
				<div class="example">
					<div class="bdc-dd-menu"><div class="bdc-dd-menu-panel" style="height: 150px; width: 200px;"><div class="bdc-dd-title-root"><div class="bdc-dd-title-label">Menu</div></div><div class="bdc-dd-scroll-pane" style="height: 121px; width: 200px;"><ul id="example-1" class="bdc-dd-sub-menu" style="position: relative;">
						<li class="bdc-dd-item">
							<div class="bdc-dd-label" style="height: 21px;"><div class="bdc-dd-icon" style="height: 21px;"> </div><span class="bdc-dd-text" style="width: 174px;">Menu Submenu 1</span></div>
							<ul class="bdc-dd-sub-menu" style="position: relative; display: none;">
								<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 1.1</a></div></li>
								<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 1.2</a></div></li>
								<li class="bdc-dd-item">
									<div class="bdc-dd-label" style="height: 21px;"><div class="bdc-dd-icon" style="height: 21px;"> </div><span class="bdc-dd-text" style="width: 174px;">Submenu Menu 1.3</span></div>
									<ul class="bdc-dd-sub-menu" style="position: relative; display: none;">
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 1.3.1</a></div></li>
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 1.3.2</a></div></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Menu Item 2</a></div></li>
						<li class="bdc-dd-item">
							<div class="bdc-dd-label" style="height: 21px;"><div class="bdc-dd-icon" style="height: 21px;"> </div><span class="bdc-dd-text" style="width: 174px;">Menu Submenu 3</span></div>
							<ul class="bdc-dd-sub-menu" style="position: relative; display: none;">
								<li class="bdc-dd-item">
									<div class="bdc-dd-label" style="height: 21px;"><div class="bdc-dd-icon" style="height: 21px;"> </div><span class="bdc-dd-text" style="width: 174px;">Submenu Menu 3.1</span></div>
									<ul class="bdc-dd-sub-menu" style="position: relative; display: none;">
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 3.1.1</a></div></li>
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 3.1.2</a></div></li>
									</ul>
								</li>
								<li class="bdc-dd-item">
									<div class="bdc-dd-label" style="height: 21px;"><div class="bdc-dd-icon" style="height: 21px;"> </div><span class="bdc-dd-text" style="width: 174px;">Submenu Menu 3.2</span></div>
									<ul class="bdc-dd-sub-menu" style="position: relative; display: none;">
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 3.2.1</a></div></li>
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 3.2.2</a></div></li>
									</ul>
								</li>
								<li class="bdc-dd-item">
									<div class="bdc-dd-label" style="height: 21px;"><div class="bdc-dd-icon" style="height: 21px;"> </div><span class="bdc-dd-text" style="width: 174px;">Submenu Menu 3.3</span></div>
									<ul class="bdc-dd-sub-menu" style="position: relative; display: none;">
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 3.3.1</a></div></li>
										<li class="bdc-dd-item"><div class="bdc-dd-label"><a href="#" class="bdc-dd-text">Submenu Item 3.3.2</a></div></li>

									</ul>
								</li>
							</ul>
						</li>
					</ul></div></div></div>
				</div>
				<div class="description">
					<h3>Example 1: Basic DDMenu</h3>
					<p>
						This is the most basic possible DDMenu, with no configuration options used. The invocation is done simply
						like this:
					</p>
					<pre>$('#example-1').ddMenu();</pre>
					<p>
						This basic menu has the default easing (available without jQuery Easing), the default root title of "Menu",
						and the default direction for sliding in and out of "east".
					</p>
				</div>
			</div>
				
				</body>
