{% extends "../base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/store/sponsorship.css"/>

<!-- <script src="/static/scripts/homepage/proficiency.js" type="text/javascript" charset="utf-8"></script> -->

<!-- For Tips in IE <script src="/static/scripts/utils/excanvas-compressed.js" type="text/javascript" charset="utf-8"></script> -->
<script src="/static/scripts/jquery/jquery.tips.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/store/sponsorship.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function()
{
$('.sponsorship_data').data('target', '{{ profile.key }}');
// $('.sponsorship_data').data('sponsor', '{{ profile.key }}');  -- Just Using Session

});


</script>



{% endblock %}


{% block main %}
<div class="sponsorship_data"></div>
<div class="sponsoring">
<span class="sponsor_header"><img class="energy_small" src="/static/stylesheets/img/utils/energy_small.png"/> Pledge Your Sponsorship</span>
<div class="info_note profile_box">
<div id="photo"><img src='/image/profile/?img_id={{ profile.photo.key }}&size=small'/></div>
{{ profile.fullname }} 
</div>

</div>




<div class="sponsorship_packages">

<span class="package_header"> Choose a Package</span>
<div class="packages">
<div class="panel_box package" id="micro">Micro</div> <div class="panel_box package" id="medium">Medium</div> <div class="panel_box package" id="magna_cum_laude">Magna Cum Laude</div>
</div>
</div>


<div class="subject_field">

<span class="choice_header"> Choose A Quiz Subject</span>
<div class="choices">
<select id="proficiency">
<option value='' selected>Any Subject</option>
{% for p in proficiencies %} <option value='{{ p.key }}'>{{ p.name }}</option> {% endfor %}
</select>
</div>
</div>

<div class="award_type_field">
<span class="choice_header"> Choose An Award Type</span>
<div class="choices">
<select id="award_type">
<option value='' selected>Any Award Type</option>
<option value='fluency'>Fluency Award</option><option value='excellence'>Excellence Award</option>
<span style="display:none;" id="fluency_tip"><h2>Fluency</h2> is the best!</span>  <span style="display:none;" id="excellence_tip"><b>Excellence</b> is the best!</span>



</select>
</div>
</div>


    <div class="proficiency_pic selection_box sponsorship_preview">
                        <ol class="sliderContent" id="sponsorshipContent">
                        {% for p in proficiencies %} 
                        <li class="bigsliderImage sponsorshipImage">
                            <img src="/image/subject/?img_id=aghwbG9wcXVpenITCxIMU3ViamVjdEltYWdlGPIMDA{{ p.images.0.key }}&size=large"/>
                            <span class="slider img_{% cycle top,bottom %}"><span class ="preview_award_type">Any Award Type</span><br/><span class ="preview_subject">Any Subject</span></span>
                        </li>
{% endfor %}
                        <div class="clear sponsorshipImage"></div>
                    </ol>
    
    </div>


<div class="submit_sponsorpledge"> <div class="form_proceed" id='submit_sponsorpledge'><img src="/static/stylesheets/img/utils/purple_next.png"></div></div>          
    
    

{% endblock %}
