{% extends "../base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/store/sponsorship.css"/>

<!-- <script src="/static/scripts/homepage/proficiency.js" type="text/javascript" charset="utf-8"></script> -->

<!-- For Tips in IE <script src="/static/scripts/utils/excanvas-compressed.js" type="text/javascript" charset="utf-8"></script> -->
<script src="/static/scripts/jquery/jquery.tips.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/store/sponsorship.js" type="text/javascript" charset="utf-8"></script>




{% endblock %}


{% block main %}
<div class="sponsorship_data"></div>
<div class="sponsoring">
<span class="sponsor_header">Pledge Your Sponsorship:</span>
<div class="info_note profile_box">
{{ profile.fullname }} 
</div>

</div>

<div class="award_types">
<span class="award_header">Choose an Award Type</span>
<div class="purple_box award" title="Fluency" id="fluency">Fluency</div> <div class="purple_box award" title="Excellence" id="excellence">Excellence</div>

<span style="display:none;" id="fluency_tip"><h2>Fluency</h2> is the best!</span>  <span style="display:none;" id="excellence_tip"><b>Excellence</b> is the best!</span>
</div>


<div class="sponsorship_packages">

<span class="package_header"> Choose a Package</span>
<div class="packages">
<div class="panel_box package" id="micro">Micro</div> <div class="panel_box package" id="medium">Medium</div> <div class="panel_box package" id="magna">Magna Cum Laude</div>
</div>
</div>


<div class="proficiency_field">

<span class="proficiency_header"> Choose a Proficiency (optional)</span>
<div class="proficiencies">
<select>
{% for p in proficiencies %} <option>p.name</option> {% endfor %}
</select>
</div>
</div>


{% endblock %}
