	

<div class="dialog_container">
<div class="ui-dialog-content" id="about_dialog_content" style="display:none;" title="About PlopQuiz">
<div class="about_introduction">
PlopQuiz makes it easy to show what you know.
<br/><br/>
You can fill your profile with awards and sponsorships by performing well on quizzes.
</div>

<div class="about_profiles" style="display:none;">
Your profile contains a portfolio of awards and sponsorships you've earned, and a report card detailing your quiz performance.
</div>

<div class="about_sponsors" style="display:none;">
You can earn both corporate and personal sponsorships.<br/><br/>
Parents make excellent sponsors. 
<!-- <br/> <br/> <span class="note">After earning a sponsorship, your sponsor will contact you with a message.</span>  -->
</div>

<div class="about_how_we_grade" style="display:none;">

<!--
You deserve to get graded as fairly as possible.
<br/><br/>
Our current margin of error is ~ .02% <br/><br/><span class="note">(link to white paper describing how we calculate this)</span>
-->

<blink>Still working on this section.</blink>
<br/><br/>
<span class="note">yes, that's a &lt;blink&gt; tag.</span>
</div>

</div>

</div>

