	

<div class="dialog_container">
<div class="ui-dialog-content" id="about_dialog_content" style="display:none;" title="About PlopQuiz">
<div class="about_introduction">
Plopquiz offers a simple way to store and share proficiency profiles.
<br/><br/>
You can earn awards and sponsorships through exceptional quiz performance.
</div>

<div class="about_profiles" style="display:none;">
Your profile shows the awards and sponsorships you've earned, and a report card detailing your quiz performance.
</div>

<div class="about_sponsors" style="display:none;">
You can earn both corporate and personal sponsorships.<br/><br/>
Parents make excellent sponsors. 
<br/> <br/> <span class="note">(what is the payload?)</span>
</div>

<div class="about_how_we_grade" style="display:none;">
Our users have the right to get graded as fairly as possible.
<br/><br/>
Our current margin of error is ~ .02% <br/><br/><span class="note">(how we calculate this)</span>
</div>

</div>

</div>

