






<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

<title>Admin Options </title>
</head>
<html><body>

<h1>Load Data</h1>
<br/><li>
<a href="/quizbuilder/rpc?action=load_data&arg0=%22proficiencies%22">Load Proficiencies</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=load_data&arg0=%22proficiency_topics%22">Load Proficiency Topics</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=load_data&arg0=%22content_pages%22">Load Content Pages</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=load_data&arg0=%22raw_items%22">Load Raw Items</a>
</li><br/><br/><li>
<a href="/quiztaker/rpc?action=load_data&arg0=%22quiz_items%22">Load Quiz Items</a>
</li><br/><br/>
</li><br/><br/><li>
<a href="/quiztaker/rpc?action=load_data&arg0=%22item_scores%22">Load Item Scores
</a>
</li><br/><br/>

<a href="/employer/rpc?action=load_data&arg0=%22employers%22">Load Employers</a>
</li><br/><br/>


<h1>Refresh Data (Deletes Data)</h1>
<br/><li>
<a href="/quizbuilder/rpc?action=refresh_data&arg0=%22proficiencies%22">Refresh Proficiencies</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=refresh_data&arg0=%22proficiency_topics%22">Refresh Proficiency Topics</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=refresh_data&arg0=%22content_pages%22">Refresh Content Pages</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=refresh_data&arg0=%22raw_items%22">Refresh Raw Items</a>
</li><br/><br/><li>
<a href="/quiztaker/rpc?action=refresh_data&arg0=%22quiz_items%22">Refresh Quiz Items</a>
</li><br/><br/><li>
<a href="/quiztaker/rpc?action=refresh_data&arg0=%22item_scores%22">Refresh Item Scores
</a>
</li><br/><br/>

<a href="/employer/rpc?action=refresh_data&arg0=%22employers%22">Refresh Employers</a>
</li><br/><br/>

<h1>Dump Data to Screen</h1>
<br/><li>
<a href="/quizbuilder/rpc?action=dump_data&arg0=%22proficiencies%22">Dump Proficiencies</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=dump_data&arg0=%22proficiency_topics%22">Dump Proficiency Topics</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=dump_data&arg0=%22content_pages%22">Dump Content Pages</a>
</li><br/><br/><li>
<a href="/quizbuilder/rpc?action=dump_data&arg0=%22raw_items%22">Dump Raw Items</a>
</li><br/><br/><li>
<a href="/quiztaker/rpc?action=dump_data&arg0=%22quiz_items%22">Dump Quiz Items</a>
</li><br/><br/><li>
<a href="/quiztaker/rpc?action=dump_data&arg0=%22item_scores%22">Dump Item Scores
</a>
</li><br/><br/>

<a href="/employer/rpc?action=dump_data&arg0=%22employers%22">Dump Employers</a>
</li><br/><br/>

<br/><br/>
<h1>Load Backup Data</h1>
<br/><li>
<a href="/quizbuilder/rpc?action=restore_backup">Restore Backup Datastore</a>
</li><br/><br/>



</body></html>


