






<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

<title>Admin Options </title>
</head>
<html><body>
These should be more idiomatic!

<br/><br/>
<a href="/rpc?action=load_data&arg0=%22quiz_items%22">Load Quiz Items</a>
<br/><br/>
<a href=" /rpc?action=refresh_data&arg0=%22quiz_items%22">Refresh Quiz Items (Deletes Data) </a>
<br/><br/>
<a href=" /rpc?action=dump_data&arg0=%22quiz_items%22">Dump Quiz Items to Screen </a>

<br/><br/>

<a href=""> /quizbuilder/rpc?action=load_data -- doesnt work yet</a>
<br/><br/>
<a href="/quizbuilder/rpc?action=refresh_data">Refresh QuizBuilder  -- more than one function call? s</a>

<br/><br/>

<a href="/quizbuilder/rpc?action=dump_data&arg0=%22raw_items%22">Dump Raw Items to Screen</a>
<br/><br/>
<a href="/quizbuilder/rpc?action=dump_data&arg0=%22content_pages%22">Dump Content Pages to Screen</a>
<br/><br/>
<a href="/quizbuilder/rpc?action=dump_data&arg0=%22quiz_items%22">Dump Content Pages to Screen</a>


</body></html>


