<div style="
width: 600px; min-height: 400px;
color: white; background-color: #555;
padding: 5px;
border: 5px solid #444;
position: fixed; left: 100px; top: 100px; z-index: 9999999999
">

<div class='header' style='color: white; font-face: verdana; font-size: 16pt; padding-bottom: 10px;'>
	<img style='float: right; cursor: pointer;' class='close' src='http://beta.plopquiz.com/static/stylesheets/img/quiz_closebox.png' alt='[X] Close'/>
	Quiz Creator
</div>

<p><em>Your quiz statement is shown below. Select the 'correct answer' from the statement and then click the set button.</em></p>                 

<b>Quiz Item Text: </b><div class='statement'>{{ text }}</div><br/>

<b>Correct Answer:</b>
<div class='answer'>&nbsp;</div><br/>


	<div class='suggestions' style='display:none;'>
	<b>Suggested Wrong Answers:</b><br/>
		<div class='loading'>
			<div style='padding:5px;'>
			Loading...
			<img style='padding-left:10px;' src='http://localhost:8080/static/stylesheets/img/utils/mini_loader.gif'></div>
		</div>
	</div>

	<p><button class='set'>Set Correct Answer</button> </p>
</div>



