
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
{% if dev_server %} <script type="text/javascript" src="/static/scripts/jquery/jquery-1.3.1.min.js"></script>{% else %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script> {% endif %}
<script type="text/javascript"> {% include "ubiquity_builder.js" %} </script>

<title>Ubiquity QuizBuilder </title>

</head>
<html><body>
<h2>Quiz Item Text:  <span id="quiz_item_text"> </span>  </h2> 
</body></html>


