<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizbuilder.css"/>
<script type="text/javascript" src="/static/scripts/jquery/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/static/scripts/json2min.js"></script>
<script type="text/javascript" src="/static/scripts/parseJSON.js"></script>
<script type="text/javascript" src="/static/scripts/jquery/jquery.field.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery/jquery.field.min.js"></script>
<!-- markItUp! -->
<script type="text/javascript" src="/static/scripts/markitup/jquery.markitup.pack.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="/static/scripts/markitup/sets/default/set.js"></script>
<!-- markItUp! skin -->

<link rel="stylesheet" type="text/css" href="/static/scripts/markitup/skins/markitup/style.css" />
<!--  markItUp! toolbar skin -->
<link rel="stylesheet" type="text/css" href="/static/scripts/markitup/sets/default/style.css" />

<script type="text/javascript">




$(document).ready(function() {


wrong_answers = [];
answer_in_array = [];

function EditQuizItem(i, item, answers) {
  
wrong_answers[i] = [];
answer_in_array[i] = [];    

 $.each(answers, function(n, answer){
 	
 answer_in_array[i][n] = "False"; 
 
});



 
// $('.quiz_item_content').markItUp(mySettings);
   
   
      

$('#quiz_data_' + i + ' > input[@name="proficiency"]').click(function(){
$('#quiz_data_' + i + ' > input[@name="proficiency"]').setValue($(this).attr("value"));
});






	
    
		$('div#answers_' + i + '').find('.answer_candidate').click(function(){
			


console.log(wrong_answers[i]);

answer_text = $(this).text();

n = $(this).attr("id");

console.log(n);


// TODO: ranking - splice() method can order answers 

//answer_in_array[i][n] = False;


console.log("true?", answer_in_array[i][n]);

for (var a = -1, loopCnt = wrong_answers[i].length; a < loopCnt; a++) {



if (answer_text == wrong_answers[i][a]){   // if answer text is already there


wrong_answers[i].splice(wrong_answers[i].indexOf(answer_text), 1);

answer_in_array[i][n] = "False"; // answer not in array anymore

$(this).css("color","#555555");
$(this).css("font-weight","normal"); 

console.log('removed text');
return;


}

}

console.log('array', wrong_answers[i]);

if (answer_in_array[i][n] == "False") {

if (wrong_answers[i].length > 1) { console.log("Only 2 Wrong Answers, Please!"); return false; }  // If there are already two answers

wrong_answers[i].splice(wrong_answers[i].length, 0, answer_text);

answer_in_array[i][n] == "True";




 $(this).css("color","#000000"); 
  $(this).css("font-weight","bold"); 
  
  console.log('added item', answer_text, wrong_answers[i],wrong_answers[i].length);
  return;
  
}



			    

			});

 
 
  


//var server = {};
//var item_count = 0;




function onItemAddSuccess(response)
{
    console.log(response);
}


    
function PreviewAnswer(answer) {

 	var answer_span = $('#quiz_item_content_' + i + '').find('.answer_span');
	$('#answers_' + i + '').find('.answer_candidate').hover(function()
	
	{
	      
        answer_span.fadeTo(1,0.5);
        answer_span.html($(this).text());
	    answer_span.fadeTo("slow", 1);
	
	},
	function()
	{
	    
		answer_span.empty();
		answer_span.html(answer);
        answer_span.fadeTo(100, 0.5);
	});   
    
    
}


PreviewAnswer(item.index);


            
        
$('#submit_item_' + i).click(function() {
    

    for (j = 0; j < 4; j++) {
if (eval('document.quiz_data_' + i + '.proficiency[' + j + '].checked') == true) {
    var proficiency = eval('document.quiz_data_' + i + '.proficiency[' + j + '].value'); }}


    server.SubmitQuizItem(document.quiz_data_{{ forloop.counter }}.source.value, document.quiz_data_{{ forloop.counter }}.slug.value, "{{quiz_item.correct_answer}}", wrong_answers[i], document.quiz_data_{{ forloop.counter }}.category.value, proficiency, $('div.quiz_item_content').text(),  onItemAddSuccess);
});
    
    

}


////////////////////////////////////////////////////////////////////////////////////////////

   jQuery.fn.extend({
	preserveDefaultText: function(defaultValue, replaceValue)
	{
		$(this).focus(function()
		{
			if(typeof(replaceValue) == 'undefined')
				replaceValue = '';  
			if($(this).val() == defaultValue)
				$(this).val(replaceValue);
		});

		$(this).blur(function(){  
			if(typeof(replaceValue) == 'undefined')
				replaceValue = '';  
			if($(this).val() == replaceValue)
				$(this).val(defaultValue);
		});
		return this;
	}
});


//$('.topic_name').preserveDefaultText('topic');
$('.url_name').preserveDefaultText('url');






    
function Request(function_name, opt_argv) {

	if (!opt_argv)
		opt_argv = new Array();

	// Find if the last arg is a callback function; save it
	var callback = null;
	var len = opt_argv.length;

	if (len > 0 && typeof opt_argv[len-1] == 'function') {
		callback = opt_argv[len-1];
		opt_argv.length--;
	}

	var async = (callback != null);

	// Encode the arguments in to a URI
	var query = 'action=' + encodeURIComponent(function_name);

	for (var i = 0; i < opt_argv.length; i++) {
		var key = 'arg' + i;
		var val = JSON.stringify(opt_argv[i]);
		query += '&' + key + '=' + encodeURIComponent(val);
	}
	query += '&time=' + new Date().getTime(); // IE cache workaround

	// Create an XMLHttpRequest 'GET' request w/ an optional callback handler 
	var req = new XMLHttpRequest();
	req.open('GET', '/quizbuilder/rpc?' + query, async);

	if (async) {
		req.onreadystatechange = function() {
			if(req.readyState == 4 && req.status == 200) {
				var response = null;
				try {
					response = JSON.parse(req.responseText);
				} catch (e) {
					response = req.responseText;
				}
				callback(response);
			}
		}
	}

	// Make the actual request
	req.send(null);
}

// Adds a stub function that will pass the arguments to the AJAX call 
function InstallFunction(obj, functionName) {
	obj[functionName] = function() { 
		Request(functionName, arguments);
	}
}


// Server object that will contain the callable methods
var server = {};
var item_count = 0;

InstallFunction(server, 'SubmitContentUrl');

InstallFunction(server, 'SubmitQuizItem');

function OnSubmitUrlSuccess(response){

$('form#content_url').hide();
var raw_quiz_items = parseJSON(response);


 $.each(raw_quiz_items, function(i,item){
 	
 	
$('.slug_name').preserveDefaultText('slug_name');
$('.source_name').preserveDefaultText('source');
$('.category_name').preserveDefaultText('category');


 	
var html = '<div class="quiz_item" style="margin-top:30px;" id="' + i + '" ></div>';


html += '<div class="index" style="font-size:3.2em;">' + item.index + '</div>';

html += '<div class="pre_content" style="font-style:italic;">' + item.pre_content + '</div>';

html += '<div class="quiz_item_content" id="quiz_item_content_' + i +'" style="font-size:1.2em;">' + item.content + '</div>';

html += '<div class="post_content" style="font-style:italic;>' + item.post_content + '</div>';

html += '<div class="answer_candidates" id="answers_' + i + '"></div>';  // Expand answer candidates


html += '<form id="quiz_data_' + i + '" name="quiz_data_{{ forloop.counter }}" ><input type="text" name="source" class="source_name" value="source" /><br/><input type="text" name="slug" class="slug_name" value="slug_name" /><br/><input type="text" name="category" class="category_name" value="category" /><br/><input type="submit" onClick="return false;this.disabled = true;" id="submit_item_' + i + '" class="submit_item" value="Submit Quiz Item" />';


$('div#quiz_items').append(html);

console.log(item.answer_candidates);

answers =  eval(item.answer_candidates); //item.answer_candidates


console.log(answers);

 $.each(answers, function(n, answer){
 	
 	

answer_html = '<li id ="' + n + '" class="answer_candidate" >' + answer + '</li>';


$('div#answers_' + i).append(answer_html);

});


EditQuizItem(i, item, answers); // Run function after the above code is evaluated.

});





}



$('#content_url > input[@name="proficiency"]').click(function(){
$('#content_url > input[@name="proficiency"]').setValue($(this).attr("value"));
});

            
        
$('#submit_url').click(function() {
    
        for (j = 0; j < 4; j++) {
if (eval('document.content_url.proficiency[' + j + '].checked') == true) {
    var proficiency = eval('document.content_url.proficiency[' + j + '].value'); }}

    server.SubmitContentUrl(document.content_url.url.value, document.content_url.topic.value, proficiency, OnSubmitUrlSuccess);
    
    
});
    
    

});







</script>

	

<title>Plopquiz - URL Induction </title></head>

<body>
<h1> Build Quiz Items From Webpage </h1>
<form name="content_url" id="content_url" >
<br/>
url
<input type="text" name="url" class="url_name" value="url" />
<br/>
<br/>
topic
<input type="text" name="topic" class="topic_name" value="topic" /> 
<br/><br/>
Choose Proficiency and ProficiencyTopic
<I>(nested list -- jquery table?)</I>
<br/>
<input type="checkbox" id="1" name="proficiency" value="building_webapps" ><span>Building Web Apps</span><br/>
<input type="checkbox" id="2" name="proficiency" value="clean_energy" ><span>Clean Energy</span><br/>
<input type="checkbox" id="3" name="proficiency" value="collective_intelligence" ><span>Collective Intelligence</span><br/>
<input type="checkbox" id="4" name="proficiency" value="startup_financing" checked ><span>Startup Financing</span><br/>
<br/>
<br/>

<input type="submit" onClick="return false;this.disabled = true;" id="submit_url" class="submit_url" value="Submit URL" />


</form>




<div id="tags">

</div>

<div id="quiz_items">

</div>


</body></html>
