<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



	

<title>Plopquiz - URL Induction </title></head>

<body>
<h1> Build Quiz Items From Webpage </h1>
<form >
<br/>
<input type="text" name="url" class="url" value="url" />
<br/>
<br/>
<input type="text" name="topic" class="topic_name" value="topic" />
<br/><br/>
Choose Proficiency
<I>(nested list -- jquery table?)</I>
<br/>
<input type="checkbox" id="1" name="proficiency" value="building_webapps" ><span>Building Web Apps</span><br/>
<input type="checkbox" id="2" name="proficiency" value="clean_energy" ><span>Clean Energy</span><br/>
<input type="checkbox" id="3" name="proficiency" value="collective_intelligence" ><span>Collective Intelligence</span><br/>
<input type="checkbox" id="4" name="proficiency" value="startup_financing" ><span>Startup Financing</span><br/>
<br/>
<br/>

<input type="submit" onClick="return false;this.disabled = true;" id="submit_item" class="submit_item" value="Submit URL" />


</form>

<div id="results">

</div>


</body></html>
