<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizbuilder.css"/>
<script type="text/javascript" src="/static/scripts/jquery/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/static/scripts/json2min.js"></script>
<script type="text/javascript" src="/static/scripts/parseJSON.js"></script>
<script type="text/javascript" src="/static/scripts/jquery/jquery.field.min.js"></script>
<script type="text/javascript" src="/static/scripts/utils/preserve_default_text.js"></script>
<script type="text/javascript" src="/static/scripts/utils/rpc.js"></script>

<!-- scroll -->
<script src="/static/scripts/scroll/jquery.scrollTo-min.js" type="text/javascript"></script>
<script src="/static/scripts/scroll/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/scroll/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/scroll/quizbuilder-slider.js" type="text/javascript" charset="utf-8"></script>

<!-- edit content -->
<script src="/static/scripts/jeditable/jquery.jeditable.min.js" type="text/javascript"></script>
<script src="/static/scripts/jeditable/jquery.jeditable.autogrow.js" type="text/javascript"></script>
<script src="/static/scripts/jquery/jquery.autogrow.js" type="text/javascript"></script>


<script src="/static/scripts/jquery/jquery.jsrepeater.js" type="text/javascript"></script>



<link rel="stylesheet" type="text/css" media="screen" href="/static/scripts/scroll/quizbuilder-slider.css"/>

<!-- markItUp! -->
<script type="text/javascript" src="/static/scripts/markitup/jquery.markitup.pack.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="/static/scripts/markitup/sets/default/set.js"></script>
<!-- markItUp! skin -->

<link rel="stylesheet" type="text/css" href="/static/scripts/markitup/skins/markitup/style.css" />
<!--  markItUp! toolbar skin -->
<link rel="stylesheet" type="text/css" href="/static/scripts/markitup/sets/default/style.css" />


<script type="text/javascript" src="/static/scripts/drilldown/js/jquery.bdc.ddmenu.js"></script>

<link rel="stylesheet" type="text/css" href="/static/scripts/drilldown/css/ddmenu.css" />

<!--<script type="text/javascript" src="/static/scripts/freebase-suggest/dist/freebase.suggest.js"></script> 
 <link type="text/css" rel="stylesheet" href="/static/scripts/freebase-suggest/dist/css/freebase-controls.css" /> -->
 


<script type="text/javascript" src="/static/scripts/quizbuilder/edit_quiz.js"></script>
<script type="text/javascript" src="/static/scripts/quizbuilder/quizbuilder.js"></script>

<script type="text/javascript">



</script>

	

<title>Plopquiz - Quizbuilder</title></head>

<body>
<h1> QuizBuilder </h1>
<form name="select_proficiency" id="select_proficiency" >
<br/>

Choose a proficiency
<br/>
<div id="proficiencies"></div>

<br/><br/>

<input type="submit" onClick="return false;this.disabled = true;" id="submit_proficiency" class="submit_proficiency" value="Submit proficiency" />


</form>

 <div id="wrapper">
<div id="loading_items" style="display:none;"><img src="/static/stylesheets/img/ajax-loader.gif"/></div>
<br/>

<div class="quizbuilder_wrapper">
     <ul class="item_navigation"> </ul>  <!--navigation headers-->
     
<div class="scroller"><div class="quiz_items" id="quiz_items" style="display:none;"><!--quiz items--></div></div>

</div>
</div>








</body></html>
