{% extends "../base.html" %}


{% block head %}


<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizbuilder.css"/>

<script type="text/javascript" src="/static/scripts/parseJSON.js"></script>
<script type="text/javascript" src="/static/scripts/jquery/jquery.field.min.js"></script>
<script type="text/javascript" src="/static/scripts/utils/preserve_default_text.js"></script>


<!-- scroll -->
<script src="/static/scripts/scroll/jquery.scrollTo-min.js" type="text/javascript"></script>
<script src="/static/scripts/scroll/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/scroll/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/quizbuilder/item-slider.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/quizbuilder/answers-slider.js" type="text/javascript" charset="utf-8"></script>

<!-- edit content -->
<script src="/static/scripts/jeditable/jquery.jeditable.min.js" type="text/javascript"></script>
<script src="/static/scripts/jeditable/jquery.jeditable.autogrow.js" type="text/javascript"></script>
<script src="/static/scripts/jquery/jquery.autogrow.js" type="text/javascript"></script>


<!--<script type="text/javascript" src="/static/scripts/freebase-suggest/dist/freebase.suggest.js"></script> 
 <link type="text/css" rel="stylesheet" href="/static/scripts/freebase-suggest/dist/css/freebase-controls.css" /> -->
 

<script type="text/javascript" src="/static/scripts/quizbuilder/edit_quiz.js"></script>
<script type="text/javascript" src="/static/scripts/quizbuilder/quizbuilder.js"></script>


<title>Plopquiz - Quizbuilder</title>


{% endblock %}


{% block main %}
<h3 style="float: right;"> QuizBuilder </h3>
<form name="select_proficiency" id="select_proficiency" class="purple_box" >
<br/>

<span class="checkbox" id="choose_proficiencies">Choose a proficiency</span>
<br/>
<div id="proficiencies"></div>

<br/>

<input type="submit" onClick="return false;this.disabled = true;" id="submit_proficiency" class="submit_proficiency" value="Continue" />


</form>

 <div id="wrapper">
<div id="loading_items" style="display:none;"><img src="/static/stylesheets/img/ajax-loader.gif"/><span class="loading">Loading...</span><img src="/static/stylesheets/img/ajax-loader.gif"/></div>
<br/>

<div class="quizbuilder_wrapper">
   <div class="nav_wrap"><ul class="item_navigation"> </ul></div>  <!--navigation headers-->
     
<div class="scroller"><div class="quiz_items" id="quiz_items" style="display:none;"><!--quiz items--></div></div>

</div>
</div>

{% endblock %}




