
{# Template for each item #}


<div class="quiz_item"  id="{{ forloop.counter }}" >

<div class="quiz_item_content" ><div class="item_inner"> 
<div class="content" > {{ item.content|escape }} </div>
</div></div> 


<div class="answers_container" id="{{ forloop.counter }}">

{% include "answer_template.html" %}

</div>

  
{% comment %}



Sidebar



{% endcomment %}
<div class="item_sidebar">
<div class="sidebar_header">Quiz Item Settings</div>
<div class="item_subject" >
	<span class="header">Subject</span>
	<div class="subject_name">{{ subject.name }}</div>
	</div>
	
<div class="item_topic" id="{{ subject.name }}">
	
	{% include "item_topic.html" %}
	
</div>

<div class="answer_choice_previews">

<div class="answer_preview" >
<div class="correct">Correct Answer</div><span class="selection correct">{{ item.index }}</span>
<span class="edit">edit</span><div class="edit_answer" style="display:none;"><input class="new_answer" type="text"><button>OK</button></div>
</div>

{# item.page.url is webpage #}

{% for n in ANSWERCOUNT %}
<div class="answer_preview">
<div class="wrong">Wrong Answer #{{ n }}</div><span class="wrong selection" id="{{ n }}"></span>
<span class="edit">edit</span><div class="edit_answer" style="display:none;"><input class="new_answer" type="text"><button>OK</button></div>
</div>

{% endfor %}

</div> {# endpreviews #}


<button  name="submit_item" class="submit_item" value="submit item" /> submit item</button> 
{# <button  name="skip_item" class="skip_item" value="skip item" />skip</button>  #}


</div>
</div>

