{% extends "../base.html" %}
{% block title %}Edit / {{ subject.name }}{% endblock %}
{% block description %}  {% endblock %}

{% block head %}


<style type="text/css"> 
{% include "../../static/stylesheets/quiz_editor/quiz_editor.css" %} 
</style> 

<script type="text/javascript">

{% include "../../static/scripts/scroll/jquery.scrollTo-min.js" %} 
{% include "../../static/scripts/scroll/jquery.localscroll-1.2.5.js" %} 
{% include "../../static/scripts/scroll/jquery.serialScroll-1.2.1.js" %} 
{% include "../../static/scripts/quiz_editor/item-slider.js" %} 
{% include "../../static/scripts/quiz_editor/jeditable/jquery.jeditable.min.js" %}
{% include "../../static/scripts/jquery/jquery.autogrow.js" %}
{% include "../../static/scripts/quiz_editor/jeditable/jquery.jeditable.autogrow.js" %}
</script>
<script type="text/javascript">


{% include "../../static/scripts/quiz_editor/load_answers.js" %}
{% include "../../static/scripts/quiz_editor/quiz_editor.js" %}
 
</script>



{% endblock %}


{% block main %}



<div class="quizbuilder_wrapper">


   <div class="nav_wrap"><ul class="item_navigation">
	<li><a href="#new">Make New Item</a></li>
	{% for item in subject.quizitems %}
	<li><a  href="#{{ forloop.counter }}" {# id="{{ forloop.counter }}" #}>{{ forloop.counter }}</a></li>
	{% endfor %}
	 </ul></div>  <!--navigation headers-->

     
<div class="scroller"><div class="quiz_items" id="quiz_items" >
	

{% include "quiz_item_template.html" %} 

	
	{% for item in subject.quizitems %}
{% include "quiz_item_template.html" %} 
	{% endfor %}
	
	</div></div>

</div>


{% endblock %}




